/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */


.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


/* Admin */
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*................Register...............*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 70px;
}
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*Add new task*/

.form_id .form-control{
  width: 25%;
}

.form_id{
  padding-top: 50px;
  padding-left: 150px;

}

textarea{
  width: 400px;
}

#submit{
  background-color: #007acc;
  color: white;
  border-radius: 5px;
  border: 1px solid #007acc;
}

.err{
  outline: 1px solid red;
}

.err:focus{
  outline: 1px solid red;
  border-color: transparent;
  box-shadow: 1px 1px 1px transparent;
}
.table_class{
  padding-left: 250px;
}

.table{
  width: 850px;
  background-color: #1b1e21;
  color: white;
}

.btn_style{
  background-color: #0099ff;
  color: white;
  border-radius: 5px;
  border: 1px solid #0099ff;
  margin-left: 15px;
  margin-right: 15px;
}

.table_tr{
  height: 50px;
}

th, tr, td{
  text-align: center;
}

/*.....Style for description.....*/

.description_btn{
  background-color: #0099ff;
  color: white;
  border-radius: 5px;
  border: 1px solid #0099ff;
}

.description_btn a{
  color: white;
  text-decoration: none;
}

.reg-form {
  height: auto !important;
}

/*.............Admin Info.............*/

.container{
  margin-top: 15px;
}

.image_info img{
  border-radius: 50%;

}

.info_input{
  border: none;
}

.info{
  display: inline-block;
  padding-left: 20px;
}

label{
  font-weight: bold;
}

.image{
  width: 250px;
  height: 250px;
}

/*.......Error 404......*/

.not_found h1{
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #404040;
}

/*.........Login Error Style..........*/

.login_error{
  margin-top: 10px;!important;
  padding: 3px 20px 3px 20px;
  border: 1px solid red;
  border-radius: 2px;
}

.login_error li{
  font-size: 12px;
  color: red;
  list-style-type: none;
}

.login_form span{
  font-size: 12px;
  color: red;
}

/*...........Registration Error Style............*/

.reg_error_style {
  margin-top: 10px;!important;
  padding: 3px 20px 3px 20px;
  border: 1px solid red;
  border-radius: 2px;
}

.register_form span{
  font-size: 12px;
  color: red;
}

.reg_error_style li{
  font-size: 12px;
  color: red;
  list-style-type: none;
}

/*...........Input Style............*/
.line{
  margin-top: 12px!important;
  margin-bottom: 0!important;
}

#img_button{
  border-color: #c6c8ca;
  background-color: white;
  border-radius:12px;
  margin-left: 20px;
}

/*.........Register button in Login..........*/

#reg_btn {
  width: 300px;!important;
  height: 48px;!important;
  border: 1px solid #00cc44;
  background-color: #00cc44;
  border-radius: 5px;
  margin-top: 12px;
  padding-top:11px;
}

#reg_btn a:link{
  text-decoration: none;
}

#reg_btn a{
  color: white;
  font-weight: bold;
}

.welcome{
  border-bottom: 3px solid #1a1a1a;
  width: 250px;
}

.welcome h1{
  color: #1a1a1a;
  font-weight: bold;
}

nav a{
  margin-right:38px;
  font-size: 18px;
}

.nav_body ul li{
  display: inline-block;
}

.nav_body {
  /*margin: 0 auto;*/
  margin-left: 380px;
}

.products_table{
  margin: 0 auto;
}

.products_table{
  margin-top: 150px;
}

.products_table h1{
  font-size: 20px;
  padding-bottom: 20px;
  float: left;
  color: #1d2124;
}

.image_submit {
  width: 55px;
  height: 28px;
  font-size: 12px;
  text-align: center;
  background-color: #0099ff;
  border: 1px solid #0099ff;
  border-radius: 3px;
  color: white;
}

.image-preview{
  max-width: 200px;
  max-height: 200px;
  border: 2px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}

.image-preview__image{
  display: block;
   width: 200px;
  height: 200px;
  background-size: contain;
  object-fit: cover;
}

.add_form_row{
  margin-bottom: 15px;
}

.add_error{
  color: red;
  font-size: 15px;
}

.price_error{
  display: none;
  color: red;
}

.count_error{
  display: none;
  color: red;
}

.edit_error{
  color: red;
  font-size: 15px;
}

.price_error_edit{
  display: none;
  color: red;
}

.count_error_edit{
  display: none;
  color: red;
}

.modal {
  position: fixed;
  top: 100px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.delete_btn{
  background-color: #007acc;
  border-radius: 5px;
  border: 1px solid #007acc;
  color: white;
}

.edit_btn{
  background-color: #007acc;
  border-radius: 5px;
  border: 1px solid #007acc;
  color: white;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

a:link{
  text-decoration: none;
}

.description_btn{
  background-color: #007acc;
  border-radius: 5px;
  border: 1px solid #007acc;
  color: white;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.description_btn:hover{
  background-color: #1aa3ff;
  color: white;
}

 a{
  color: white;!important;
}

.edit_btn:hover{
   background-color: #1aa3ff;
   color: white;
 }

.add_product{
  background-color: #007acc;
  border-radius: 5px;
  border: 1px solid #007acc;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 10px;
}

.add_product:hover{
  background-color: #1aa3ff;
}

.delete_btn:hover {
  background-color: #1aa3ff;
}

.edit{
  background-color: #007acc;
  border-radius: 5px;
  border: 1px solid #007acc;
  color: white;
}

.edit:hover{
  background-color: #1aa3ff;
}

/*.............. Cart items styling .................*/

.cart-items{
  background-color: white;
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 70px;
}

.shop-item-button{
  background-color: #e4e7ed;
  color: #1c1d1f;
  border-radius: 5px;
  border: 1px solid #e4e7ed;
  font-size: 12px;
  padding-bottom: 3px;
  font-weight: bold;
}

.items_titles{
  color: #1b1e21;
}

.item_price{
  color: #1b1e21;
}

.item_container{
  margin-top: 30px;
}

.cart-items h4{
  color: #1b1e21;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #1b1e21;
  padding-bottom: 10px;
}

.cart-quantity-input{
  width: 50px;
}

.items_titles_content ul li{
  display: inline-block;
  width: 250px;
}

.btn_remove{
  width: 70px;
  height: 30px;
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: bold;
}

.subtotal{
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 15px;
}

.subtotal span{
  color: #1b1e21;
}

.product_item_name{
  margin-right: 150px;
  color: #1b1e21;
}

.cart_items_table tr{
  color: #1b1e21;
}

.cart_items_table th{
  width: 190px;
}

.cart_items_list td{
   width: 197px;
  border-bottom: 1px solid #5a6268;
 }

.cart_items_list span{
  margin: 0 auto;
}

.product_class{
  border-bottom: 1px solid grey;
}

.product_class td{
  width: 190px;
}

.subtotal span{
  font-weight: bold;
}

.product_class td span{
  font-weight: bold;
  margin: 0 auto;
}

.buy_btn {
  width: 700px;
  height: 30px;
  margin-bottom: 4px;
  border-radius: 3px;
}

.buy_btn span{
  font-size: 12px;
  font-weight: normal;
}

.buy_table{
  margin: 0 auto;
  margin-top: 150px;
}

.buttons{
  margin: 0 auto;
}

.cancel_button{
  background-color: #007acc;
  margin-right: 20px;
  width: 60px;
  height: 28px;
  padding: 2px 0;
  border-radius: 4px;
  box-shadow: 0 3px 3px 0 rgba(89, 89, 89, 0.8);
}

.buy_product{
  height: 30px;
  padding-bottom: 4px; !important;
  font-size: 12px;
  font-weight: bold;
}

#buy_btn{
  background-color: #007acc;
  border: 1px solid #007acc;
  border-radius: 4px;
  color: white;
}

.buy_form{
  float: left;
  margin-left: 50px;
}

.last_buy_div{
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
}

label{
  color: #1b1e21;
  margin-right: 40px;
}

#latest_price{
  margin-right: 45px;
}

#sold_product_quantity{
  margin-left: 35px;
}

#product_quantity{
  margin-left: 40px;
}

#product_name{
  margin-right: 3px;
}

.last_buy_div{
  padding-top: 50px;
  height: 400px;
  width: 1000px;
  box-shadow: 0 6px 20px 0 rgba(89, 89, 89, 0.8);
}

.sold_product_img{
  border: 2px solid grey;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(89, 89, 89, 0.8);
}

.buy_cancel_btn{
  margin-left: 135px;
}

.cancel_button:hover {
  background-color: #3399ff;
}

#buy_btn:hover {
  background-color: #3399ff;
  border: 1px solid #3399ff;
}

#buy_btn{
  box-shadow: 0 3px 3px 0 rgba(89, 89, 89, 0.8);
}

.cart_items_list{
  border-top: 1px solid grey;
}

.desc_img{
  border: 2px solid grey;
  box-shadow: 0 2px 10px 0 rgba(89, 89, 89, 0.8);
}

#product_price{
  margin-left: 4px;
}

.buy_modal{
  width: 350px;
  height: 150px;
  border: 2px solid grey;
  background-color: white;
  position: fixed;
  z-index: 2;
  top: 200px;
  bottom: 0;
  left: 500px;
  border-radius: 5px;
  display: none;
}

.buy_modal p{
  color: #1b1e21;
}